.topbar-container{
    padding:0 40px 0 40px;
    user-select: none;
    align-items: center;
}
.top-bar{
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    display:flex;
    justify-content: space-between;
}
.date-notification{
    display: flex;
    justify-content: space-evenly;
}
.date{
    margin-top: -3px;
    margin-right: 5px;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-icon {
    font-size: 1rem;
    margin-left: 10px;
    color: #696969;
    
}
.search-content{
    background-color: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
}
input {
    border: none;
    border-radius: 5px;
    height:40px;
    width: 200px;
    background: transparent;
    margin-left: 4px;
}

